body{
    background-image: url("https://i.postimg.cc/hvKLZwqT/topsters2-2.jpg");
    vertical-align: middle;
    background-repeat: repeat;
}

body{
    margin: 0;
    box-sizing: border-box;
    width: 40%;
    background-attachment: fixed;
    text-align: center;
}
.cell{
    text-align: center;
    background: white;
    border-style: ridge;
}
header{
    text-align: center;
    color: palegoldenrod;
    background-color: #702963;
}
main{
    padding: 1em;
    background-color: lightgray;
}